/* Add here all your CSS customizations */
.body-sign .card-sign .card-title-sign .title{
    background-color: #0074ad !important;
}

.center-sign .text-muted{
    color: #fff !important;
}
/*common Css*/ 

.search .input-search input[type="text"]::-webkit-input-placeholder{
    color: #cbeeff;
}
#modalAddCategory .card-body{
    padding: 0px 1.25rem;
}

#modalAddCategory .card-body .modal-wrapper{
    padding: 1.25rem 0px;
}
.menuNestable .dd-handle{
    height: auto;
}

.menuNestable .menu-name h4 {
    font-size: 14px;
    margin: 0;
}
.bootstrap-tagsinput span {
    margin-bottom: 7px;
}

.ch-input-wrap label , .lp-input-wrap label{
    font-weight: bold;
}

.profile-image{
    width: 150px;
    height: 150px;
}
.block-img img{
    max-width: 150px;
}

.round-img img{
    border-radius: 50%;
}
.ch-logo-upload-container , .lp-logo-upload-container{
	position: relative;
}

.ch-image-view-block img , .image-view-block img{
    max-width: 300px;
}



.lp-image-logo-avatar, .ch-image-logo-avatar, .ch-image-avatar{
	width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    border: 5px solid #E1E1E1;
    padding: 5px;
}

.lp-image-logo-avatar{
    width: 150px;
    height: 150px;
}

.lp-image-avatar, .ch-image-avatar , .ch-image-feature, .ch-image-banner{
    width: 120px;
    height: 120px;
}

.site-logo{
    width: auto;
    height: 30px;
}


.lp-logo-upload-container i, .ch-logo-upload-container i , .ch-image-upload-container i{
	position: absolute;
    top: 20%;
    left: 63%;
    color: #A3A3A3;
    font-size: 18px;
}
.lp-logo-upload-container i{
    left: 65%;
}


@media (max-width: 1199px){
    .lg-mb-1{
        margin-bottom: 3rem;
    }
}


@media (max-width: 992px) {
    .menu-action-btn a{
        margin-bottom: 0.75rem;
    }
}
@media (max-width: 1199px) {
    .lp-logo-upload-container i, .ch-logo-upload-container i , .ch-image-upload-container i {
        display: none
    }
}



.ch-image-upload-container i{
    left: 23%;
}

.ch-institute-logo img{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}



td.table-action-btn{
    padding-bottom: 0;
}

.table-action-btn a{
    margin-bottom: 0.75rem;
}
.table-action-btn > button{
    margin-bottom: 0.75rem;
}

/* Select Styles */
.select2-container--bootstrap .select2-selection--multiple{
    height: auto !important;
}
.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice{
    margin: 6px;
}
@media (max-width: 991px){
    .select2-container--bootstrap {
         width: 100% !important; 
    }   
    .dataTables_length .select2-container--bootstrap{
        width: auto !important;
    }
}

/* All Course Css*/
.old-price{
    text-decoration: line-through;
}


/*Job Application Css*/
.ch-application-header h2 , .ch-evaluation-header h2{
    flex: 0 0 60%;
}

@media (max-width: 575px){
    .ch-application-header h2 , .ch-evaluation-header h2{
        flex: 0 0 45%;
    }
}

@media (max-width: 375px){
    .ch-application-header, .ch-evaluation-header{
        flex-flow: column;
    }
    .ch-application-header h2 , .ch-evaluation-header h2{
        flex: 0 0 100%;
    }
}

.mark-action {
    flex: 0 0 40%;
}

.job-requirements , .ch-skill-list{
    margin: 0 0 20px;
}
.job-requirements span:not(:last-child){
    margin-right: 20px;
}

.ch-skill-list ul{
    list-style: none;
    padding-left: 15px
}

.ch-skill-list ul li{
    margin-bottom: 10px;
}




.ch-website-logo-upload.fileupload .btn-file, .ch-website-logo-upload.fileupload .fileupload-exists{
	margin-left: 0;
	margin-top: 10px;
}

.ch-website-logo-upload.fileupload .uneditable-input .fileupload-exists{
	top: 33px;
}

.ch-website-logo-upload.fileupload .uneditable-input .ch-fileupload-icon{
	top: 43px;
}

.ch-website-logo-upload.fileupload-exists .uneditable-input .ch-fileupload-icon{
	display: none
}


@media (max-width: 991px) {
    .select-width-100-percent .select2-container--bootstrap {
        width: 100% !important;
    }
}

/* Add Post Css*/

.add-post-content .card{
    border: 1px solid #e7e7e7;
}

/* Footer Css*/
.site-footer{
    padding: 15px;
    background-color: #fff;
    margin-left: 300px;
}
@media only screen and (max-width: 767px) {
    .site-footer{
        margin-left: 0px;
        text-align: center;
    }
    .site-footer .text-right{
        text-align: center !important;
    }
    
}
.site-footer .copyright-text p{
    margin-bottom: 0;
}


/* Dashboard weidget Css*/
.template-summery .widget-summary-col{
    vertical-align: middle;
}
.template-summery .widget-summary-col .summary{
    min-height: 30px;
    padding-bottom: 10px;
    text-align: center;
}

.template-summery .widget-summary-col .summary-footer{
    text-align: center;
}
.template-summery .widget-summary-col .summary-icon{
    width: 85px;
    height: 85px;
    line-height: 85px;
}

/* Header User Dropdown  */
.header-right .userbox.show .dropdown-menu i{
    min-width: 20px;
}

/* Check Functionalities List  */
.check-functionalities {
    border-radius: 0.25rem;
    padding: 15px;
    padding-bottom: 0;
    border: 1px solid #ced4da;
}
.check-functionalities ul{
    padding-left: 0;
}
.check-functionalities ul li{
    display: inline-block;
    list-style: none;
    margin-right: 10px;
    margin-bottom: 12px;
}

.dynamic-fields{
    margin-top: 10px
}

.form-feilds .delete-btn{
    font-size: 13px;
    border-radius: 0.25rem;
    margin-left: 10px;
    cursor: pointer;
    min-height: 39px;
    border: 0;
    background-color: #D2312D;
    padding: 0 10px;
    color: #fff;
}